
name: test-docs

on:
  pull_request:
    branches:
      - dev
      - main

jobs:
  build_docs:
    runs-on: ubuntu-latest
    env:
      KERAS_BACKEND: "jax"

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.11
          cache: "pip"

      - name: Install dependencies
        run: |
          python -m pip install .[docs]
          python -m pip install jax
      - name: Make docs from local state
        run: |
          cd ./docsrc
          make clean
          make local-docs
      - name: Clean up
        run: |
          cd ./docsrc
          make clean-all
